@charset "UTF-8";

html, body {
  height: 100%;
}

body{
  font-family:  Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #0e0e52, #150578,#3943b7, #449dd1, #78c0e0);
  color: white;
}

button{
  background-color: rgb(1, 1, 44);
  border-radius: 25px;
  border: 2px solid white;
  padding: 5px 20px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  height: 50px;
  font-size: 1.2em;
  transition: .4s;
  color: white;
}

button:hover{
  background-color: #78c0e0;
  color: black;
}